%c-block {
  margin: 1rem 0;

  @include media($bp-mobile-up) {
    margin: 10rem 3rem;
  }
}

.c-block-image {
  @extend %c-block;

  &__wrapper {
    @include media($bp-mobile-up) {
      background-position: right;
      background-size: 75% auto;
      height: 300px;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  &__content {
    @include media($bp-mobile-up) {
      padding: 4rem 0;
      width: 75%;
    }

    padding: 1rem;
  }

  &__heading {
    color: $colour-carnation;
    font-size: 3rem;
  }
}

.c-block-text {
  @extend %c-block;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &__seperator-wrapper {
    float: left;
    width: 10rem;
  }

  &__content {
    @include media($bp-mobile-up) {
      width: 30rem;
    }

    float: left;
    padding: 0 1rem;
  }

  &__copy {
    margin-top: 0;
    padding-top: 0;
  }
}

.c-block-heading {
  @extend %c-block;

  &__illustration {
    height: 10rem;
    float: right;

    * {
      fill: $colour-carnation;
    }
  }

  &__heading {
    font-size: 4rem;
    text-transform: uppercase;
  }
}

.c-block-illustration {
  @extend %c-block;

  &__illustration {
    height: 6rem;
    float: right;

    * {
      fill: $colour-carnation;
    }
  }

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
