.c-foot {
  margin: 1rem 2rem;

  &__block {
    text-align: center;
    text-transform: uppercase;
  }

  &__block-title {
    color: $colour-carnation;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  &__sponsor-list {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 1.5rem;
  }

  &__sponsor-link {
    display: inline-block;
  }

  &__sponsor-image {
    @include media($bp-mobile-up) {
      margin: 2rem;
    }

    height: 7rem;
    margin: .5rem;
    max-width: 100%;
  }

  &__navigation {
    @include outer-container;
  }

  &__list {
    @include media($bp-mobile-up) {
      @include span-columns(3);
    }

    @include span-columns(12);

    list-style: none;
    margin: 0;
    padding: 0 1rem 1rem;
    text-align: center;
  }

  &__item {
    padding-bottom: .5em;

    &--heading {
      color: $colour-carnation;
      padding-bottom: 1em;
    }
  }

  &__link {
    color: $colour-text;
    text-decoration: none;
  }
}


.c-foot-illustration {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $colour-blizzard-blue;
  fill: $colour-blizzard-blue !important;
  height: 250px;
  margin-bottom: 2rem;
}
