.c-head {
  font-size: .75rem;
  margin: 1rem 2rem;

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &__logo-link {
    display: block;
    padding-right: 1rem;
    vertical-align: bottom;
  }

  &__logo {
    height: 1rem;
  }

  &__description {
    line-height: 1;
    margin: 0;
    vertical-align: middle;
  }

  &__nav {
    display: block;
    flex-grow: 2;
    padding-right: 1rem;
    text-align: right;
  }

  &__btn-group {
    font-size: 1rem;
  }
}
