.c-head {
  font-size: .75rem;
  margin: 1rem 2rem;

  &__wrapper {
    @include media($bp-mobile-up) {
      flex-direction: row;
    }
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__logo-link {
    display: block;
    padding-right: 1rem;
    vertical-align: bottom;
  }

  &__logo {
    height: 1rem;
  }

  &__description {
    @include media($bp-tablet-up) {
      display: block;
    }

    display: none;
    line-height: 1;
    margin: 0;
    vertical-align: middle;
  }

  &__nav {
    @include media($bp-mobile-up) {
      display: block;
      padding-right: 1rem;
      text-align: right;
    }

    display: none;
    flex-grow: 2;
    text-align: center;
  }

  &__btn-group {
    @include media($bp-mobile-up) {
      display: block;
    }

    font-size: 1rem;
  }
}
