.c-hero-home {
  margin: 6rem 3rem;

  &__wrapper {
    background-image: url('../images/hero/pycon-2015-crowd-by-shiroyuki-orig.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 2rem 6rem;
    position: relative;
    z-index: 1;
  }

  &__logo {
    height: 10rem;
    position: absolute;
    top: -5rem;
    z-index: 2;

    * {
      fill: $colour-carnation !important;
    }
  }

  &__copy {
    color: $colour-white;
    font-size: 2.5rem;
    position: absolute;
    top: 10rem;
    z-index: 2;
  }

  &__illustration {
    bottom: -2.5rem;
    height: 10rem;
    left: 40%;
    position: absolute;
    z-index: 2;

    * {
      fill: $colour-blizzard-blue !important;
    }
  }
}
