.c-hero-home {
  margin: 1rem 0;

  @include media($bp-mobile-up) {
    margin: 0;
  }

  &__wrapper {
    @include media($bp-mobile-up) {
      padding: 2rem 6rem;
    }

    width: 100%;
    background: linear-gradient(to bottom, rgba($colour-white, 0.5) 0%, rgba($colour-white, 1.0) 100%), url("../images/hero/pycon-2016-collage.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &__logo {
    @include media($bp-mobile-up) {
      width: 30rem;
    }

    width: 40%;

    * {
      fill: $colour-carnation !important;
    }
  }

  &__copy {
    color: $colour-white;
    font-size: 2.5rem;
    position: absolute;
    top: 10rem;
    z-index: 2;
  }

  &__illustration {
    @include media($bp-mobile-up) {
      width: 50%;
    }

    position: relative;
    right: 0;
    bottom: 0;

    * {
      fill: $colour-blizzard-blue !important;
    }
  }
}
