
.schedule-nav {
  @include media($bp-mobile-up) {
    font-size: 1.3rem;
  }

  margin: 3rem 0;

  &--link {
    padding: 0 1rem;
  }

  &--current {
    font-weight: bold;
    padding: 0 1rem;
  }
}

.schedule-table {
  border: 1px solid $colour-grey;
  width: 100%;

  td {
    //padding: 3rem;
    border: 1px solid $colour-grey;
  }

  &--col-time {
    @include media($bp-mobile-up) {
      font-size: 1.5rem;
      width: 20%;
    }

    color: $colour-carnation;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: center;
  }

  &--col-description {
    @include media($bp-mobile-up) {
      padding: 3rem;
    }

    padding: 1.5rem;
  }

  &--title {
    @include media($bp-mobile-up) {
      font-size: 1rem;
    }

    font-size: .9rem;

    &--muted {
      color: $colour-grey;
    }
  }

  &--subtitle {
    @include media($bp-mobile-up) {
      font-size: 1.2rem;
    }

    &--muted {
      @extend .schedule-table--subtitle;

      color: $colour-grey;
    }
  }
}
