// PyCon Canada 2017 Colours
$colour-blizzard-blue: rgb(150, 215, 227);
$colour-carnation: rgb(240, 100, 97);
$colour-masala: rgb(61, 61, 61);
$colour-mercury: rgb(229, 229, 229);

$colour-grey: rgb(174, 174, 174);

// Neutral Colours
$colour-black: rgb(70, 70, 70);
$colour-white: rgb(245, 245, 245);
