$colour-primary: $colour-blizzard-blue;
$colour-secondary: $colour-carnation;
$colour-dark: $colour-masala;
$colour-light: $colour-mercury;

$colour-bg: $colour-white;
$colour-text: $colour-black;

$colour-link: darken($colour-primary, 25%);
$colour-link-hover: $colour-primary;

$spacer: 1rem;
